.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 60px;
    box-shadow: 0 1px 3px -2px black;
    margin-bottom: 1px;
    background: white;
}

.shopvoid-logo {
    height: 100px;
}

.shopvoid-text {
  color: #171717;
  font-size: 38px;
  font-weight: 600;
  align-self: left;
}